@import "../common/colors";
@import "../common/main";

.blog {
  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

.blog-card {
  &__wrapper {
    max-width: 30rem;
    border-radius: 2rem;
    margin: 2rem;
    background-color: $primary;
    box-shadow: $shadow1;
  }
  &__image {
    max-width: 100%;
    border-radius: 2rem 2rem 0 0;
  }
  &__content {
    padding: 2rem;
  }
  &__button-wrapper {
    border-radius: 0 0 2rem 2rem;
    padding: 1rem;
    background-color: $secondary;
  }
  &__button {
    font-size: 1.2rem;
    font-weight: bold;
    color: $textPrimary;
    margin: 0;
    text-align: center;
  }
}
