.interests {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-size: 1.6rem;
    text-align: center;
  }
}
